* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;

  scrollbar-color: var(--discord);
  scrollbar-width: 4px;
}
body {
  background: #e5e6f0;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img#nav-img {
  height: 25px;
  width: 25px;
}

:root {
  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: rgb(32, 34, 37);
  --quaternary: #292b2f;
  --quinary: #393d42;
  --senary: #828386;

  --white: #fff;
  --gray: #8a8c90;
  --chat-input: rgb(64, 68, 75);
  --symbol: #74777a;

  --notification: #f84a4b;
  --discord: #6e86d6;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;

  --link: #5d80d6;

  --rocketseat: #6633cc;

  --traco: #e5e6f0;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--link);
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: var(--traco);
}
