li.dev-item-t div.time-info {
  display: flex;
  flex-wrap: wrap;
}
li.dev-item div#footer-u,
li.dev-item-t div#footer-u {
  position: relative;
  bottom: 0;
  background-color: #f24;
  height: 10px;
  width: 100%;
}

li.dev-item-t {
  background: #fff;
  background-color: #fff;
  box-shadow: 0 0.3px 18px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 90px;
}
li.dev-item-t:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

div.time-info div {
  margin-bottom: 15px;
}
div.time-info div p {
  color: #333;
  padding: 5px;
  margin-left: 10px;
}
div.time-info div p::after {
  content: "|";
  color: #709c;
  padding: 5px;
}
div.time-info div label {
  color: #444;
  padding-left: 20px;
}

/* USER INFO STYLUS */

div.usr-info div {
  padding: 5px;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.usr-info div#first:hover {
  border-bottom: 1px solid #7159c1;
  cursor: pointer;
}

div div#header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

div div#boody {
  margin-left: 10px;
  display: block;
}
div div#boody strong {
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto mono", Arial, Helvetica, sans-serif;
}

main button#usr-list-all {
  position: absolute;
  top: 5px;
  right: 0;
}

/* "MENU AULAS" */
div#menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 600px;
}
div#menu-hide {
  display: none;
}

input#search {
  width: 300px;
  height: 20px;
  padding-left: 10px;

  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  font-size: 14px;
  font-family: "Roboto mono", Arial, Helvetica, sans-serif;
}

/* AULAS EDITION */

table#table-actived {
  display: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 800px;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button#edition {
  margin-left: 10px;
  border: 0;
  background: #dedede;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
button#edition:hover {
  background: rgb(241, 102, 102);
}

/* "CHATS STYLES" */

div#content-group div#tips {
  display: flex;
  flex-direction: column;
}
div#content-group div#tips span {
  font-size: 12px;
  margin-left: 20px;
}
div#content-group div#tips strong {
  margin-bottom: 5px;
}
#btn-default {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #dedede;
  color: #333;

  width: 100px;
  height: 25px;
  cursor: pointer;
  margin: 30px 0;
}
#btn-default:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  color: #777;
}

/* MANEGER */
div#manege-returns {
  display: flex;
  flex-direction: column;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  padding: 10px;
}

div#manege-returns div#item {
  display: flex;
}
div#manege-returns div#item div#right {
  margin-left: 15px;
  margin-bottom: 15px;
}
div#item div#right p {
  font-size: 13px;
}
div#item div#right div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#manege-returns div#resolver textarea {
  height: 120px;
  max-width: 400px;
}
/*
  # Achar os métodos do *SEQUELIZA*

- existem vários métodos / hooks para trabalhar com os models.
- depois de achar testa eles e faz uma descrição de cada.

no site do sequelize existem a sessão **model**

*/
